<app-header></app-header>

<div class="container">
  <div class="row mb-3">
    <div class="col">
      <app-search
        #appSearch
        [formVisible]="this.showForm"
        (queryEvent)="this.triggerSearch($event)"
        (addEvent)="this.createRecipe()"
      >
      </app-search>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <ng-container *ngIf="this.showForm">
        <app-recipe-create
          [recipeName]="this.recipeName"
          (formCreatedEvent)="this.resetQuery()"
          (formClosedEvent)="this.closeForm()"
        >
        </app-recipe-create>
      </ng-container>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <app-list></app-list>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
